
div label {
  color: #000;
}

#journal_label {
  width: 80%;
  margin:0 auto;
}

#headinghr {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1em;
}

#createJournalform {
  padding: 1.5em;
  border: white 2px solid;
  width: 30%;
  margin: 20px auto;
  position: relative;
}

#updateJournalform {
  padding: 1.5em;
  border: white 2px solid;
  width: 50%;
  margin: 20px auto;
  position: relative;
}

.well li {
  text-align: left;
  padding: 0.5em;
  color: #000;
}

.header {
  color: #fff;
}

.panel-group {
  margin: 10px 70px;
}

.panel {
  background-color: transparent;
  border: none;
  height: 150px;
}

.panel-body {
  color: #fff;
}

.carousel-inner {
  width: 100%; /* Set width to 100% */
  height: 400px;
}

.carousel-inner img {
  margin: auto;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  padding-bottom: 100px;
  bottom: 100px;
  text-align: left;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}