/*--------------------------------*/
/* jQuery tabs UI on Strains page */
/*--------------------------------*/
*:focus {
    outline: none;
}

body {
    background-image: url("../img/budbud1.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-color: #0B5345;
    color: #FFFFFF;
    width: 60%;
    margin: 0 auto;
}

h1 {
    padding-top: 60px;
    padding-bottom:10px;
    color: #0a0a06;
    text-shadow: -1px 0 #ccc5d0, 0 1px #ccc5d0, 1px 0 #ccc5d0, 0 -1px #ccc5d0;
}

.strains-page:before {
    content:"";
    background:inherit;
    background-repeat: repeat-y;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(248, 232, 229, 0.26);
    filter: blur(10px);
}

.strains-page {
/*    background-color: rgba(247, 229, 227, 1);*/
    background: inherit;
    background-repeat: repeat-y;
    width: 60%;
    position: absolute;
    overflow:scroll;
}

.navbar {
  background-color: rgba(250, 250, 250, 0.7);
  border: 0px transparent solid;
}

.navbar-inverse .navbar-nav .active a {
    background-color: #9785a5;
}

.navbar-inverse .navbar-nav > li > a {
    color: #0a0a06;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
}

#tabs {
    background: transparent;
    border: none;
}

#tabs p {
    color: #ffffff;
}

#tabs a {
    color: #449d01;
    text-decoration: none;
    font-family: Georgia;
    font-size: medium;
    text-shadow: 0 0 1px #fff;
}

#tabs a:hover {
    text-decoration: none;
    color: #9a729a;
}

#tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #0a0a06;
    margin-left: 10px;
    margin-right: 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
    height: 2.35em;
    text-align: center;
}

#tabs .ui-tabs-nav .ui-state-active {
    border: inset 1px #0a0a06;
    border-bottom: 0px;
    padding-bottom: 2.6em;
    border-bottom: dashed 1px #e6e7fa;
    margin-bottom: -5px;
}

#tabs .ui-tabs-nav li {
    display: inline-block;
    float: none;
    top: 0px;
    margin: 0em;
    padding-bottom: 0px;
}

#tabs .ui-tabs-nav .ui-state-default a {
    font-size: medium;
    font-weight: bold;
    color: #867492;
    text-shadow: 0 0 1px #fff;
}
#tabs .ui-tabs-nav .ui-state-active a {
    font-size: medium;
    font-weight: bold;
    color: #0b7104;
}