/*--------------------------------*/
/* Main */
/*--------------------------------*/

.alert {
  z-index: 1; /* Sit on top */
}

.loginMenu {
  text-align: center;
}

.dropdown-menu {
  padding: 1em;
  background-color: #000;
  color: #fff;
}

.dropdown-menu #submit {
  text-align: center;
  border: 1px dashed green;
  background-color: #000;
  color: #fff;
}

.home {
  width: 65%;
  border: 0 auto;
}
/*
.row {
  display: flex;
}

.background {
  background-image: url("../img/bridge-long.jpg");
  flex: 1;
  background-size: 100%;
}*/

footer {
  bottom: 0;
  height: 60px;
  margin: 0 auto;
}

#weed-info {
/*  background: linear-gradient(
                     rgba(20, 20, 20, 0.78),
                     rgba(20, 20, 20, 0.5))*/
}

body {
    padding-top:15px;
    background-image: url("../img/budbud3.jpg");
    background-size: cover;
    text-align: center;
    background-color: #0B5345;
    color: #FFFFFF;
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

/*.strains-page {
    padding-top:60px;
    width: 100%;
    background-image: url("../img/budbud1.jpg");
    background-size: cover;
}*/

.home {
  padding-top: 50px;
  background-size: cover;
  width: 60%;
  height: 100%;
  align-items: center;
  overflow: scroll;
  /*resize:both; allows for manual resizing*/
/*  resize: width;*/
  background-position: center;
/*  background-image: url("../img/doge.jpg"),
                    linear-gradient(
                      rgba(0, 0, 0, 0.78),
                      rgba(0, 0, 0, 0.5))*/
  background-image: url("../img/doge.jpg");
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/*
linear-gradient(
                     rgba(0, 0, 0, 0.78),
                     rgba(0, 0, 0, 0.5)),*/
                     /*rgba(20,20,20, .5)),*/

input {
  color: #000000;
}

option {
  color:#000;
}

.window-content {
    color: #000;
    background-color: #ade8a0;
    opacity: 0.8;
    padding: 0.5em;
    border: #000 1.5px;
    border-style: dotted solid;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.78);
  border: 0px transparent solid;
}

h1 {
    color: #F4D03F;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #E74C3C;
}

a:active {
  text-decoration: none;
  color: #fff;
}