<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <title>{% block title %} TITLE GOES HERE! {% endblock %}</title>
  {% block head %}
  {% endblock %}

  <!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BudBud</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      {% block navbar_current %}
      <ul class="nav navbar-nav">
        <li><a href="/">Search</a></li>
        <li><a href="/strains">Strains</a></li>
        <li><a href="/journal">Bud Journal</a></li>
      </ul>
      {% endblock %}

      <ul class="nav navbar-nav navbar-right">
        {% if session.get('current_user') %}
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>
           Logout</a></li>

        {% else %}
        <li><a href="/register"><span class="glyphicon glyphicon-user">
            </span>  Register</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-log-in">
            </span>  Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <form id="login" action="/login" method="POST">
              <label for="email">Email</label>
              <input name="email" id="email" type="text"
                     placeholder="Demo: email"><p><p>
              <label for="password">Password</label>
              <input name="password" id="password" type="password"
                     placeholder="Demo: password"><br>
              <li role="separator" class="divider"></li>
              <input type="submit" id="submit" value="Log In">
            </form>
          </ul>
        </li>
      </ul>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block alert %}
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissable row col-xs-12" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message }}</strong>
</div>
    {% endfor %}
{% endwith %}
{% endblock %}
</head>

<body>

  <div id="content">
    <h1>{% block heading %} BIG HEADING {% endblock %}</h1>
  {% block content %} put your content here {% endblock %}
  </div>

  <!-- Disappearing flashed messages. -->
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(300, 0).slideUp(300, function(){
            $(this).remove();
        });
    }, 4000);
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
<hr>
  <footer class="footer">
      <div class="container">
        <p> © 2018 <a href="https://github.com/shxxu0212/BudBud">
          <strong><u>BudBud</u></strong>: A Buddy for Your Bud! </a><br>
          By: <a href="https://www.linkedin.com/in/shxxu/">
          <strong>Shirley Xiaolin Xu</strong></p></a>
      </div>
  </footer>
</html>