{% extends 'base.html' %}

{% block head %}
<script>
  $( function() {
    $( "#user_input" ).autocomplete({
      source: {{ auto_strains | tojson }},
      minLength: 2
    });
    console.log('autocomplete working')
  } );
  </script>

<!-- Google maps -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZPpl8aau3fCm9LKhwc5Yx9ugGxqddT8">
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<style>
    #map {
    height: 400px;
    width: 100%;
    }
</style>
{% endblock %}

{% block title %}Homepage{% endblock %}
{% block theme %}Welcome!{% endblock %}

{% block heading %} Welcome to BudBud 2.0 {% endblock %}

{% block content %}

<!-- autocomplete widget -->
<div class="ui-widget">
<!-- on submit, initiate map -->
<form class="strain_lookup">
<h2>What strain are you looking for?</h2>
<input type="text" name="strain" id="user_input"
       placeholder="Start typing...">
<input type="submit" value="Show Me">
</form>
</div>

<script>
// on submit of the form:
$(".strain_lookup").submit(
function initMap(evt) {
  let x = document.getElementById("search-results");
    if (x.style.display === "block") {
        x.style.display = "none";}
  let y = document.getElementById("loading");
    if (y.style.display === "none") {
        y.style.display = "block";}
  let z = document.getElementById("no-results");
        z.style.display = "none";

  evt.preventDefault();
  console.log('the submit button is working');
    // create map
  let sf = {lat: 37.7995971, lng: -122.327749};
  let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: sf,
      scrollwheel: true,
      zoomControl: true,
      panControl: false,
      streetViewControl: false,
    });
  console.log('Hi I initiated the map')

  let infoWindow = new google.maps.InfoWindow({
    width: 150
  });
  console.log('I made the info window~')

  // fill in the map
  $.get('/map.json', {'strain':$('#user_input').val()},
      function(disp_json) {
          console.log('I am getting the dispensaries information for map');
          document.getElementById("text").innerHTML="<h3>Dispensaries near you that offer "
            + disp_json.strain + "</h3><hr>"
          document.getElementById("desc").innerHTML="<br><br>" + disp_json.desc +
            "<p align='right'><i>source: Leafly.com</i></p>";
      if (disp_json.count === 0 || !disp_json.strain) {
          y.style.display = "none";
          z.style.display = "block";
      } else {
          z.style.display = "none";
          let marker, disp, html;
          for (let key in disp_json.dispensaries) {
              disp = disp_json.dispensaries[key];

              marker = new google.maps.Marker({
                position: new google.maps.LatLng(disp.lat, disp.lng),
                map: map,
                title: disp.name,
                icon: '/static/img/bud-icon.png',
              });

              html = (
                  '<div class="window-content">' +
                        '<p><b>Dispensary: </b>' + disp.name + '</p>' +
                        '<p><b>Address: </b>' + disp.address + '</p>' +
                        '<a href="https://www.google.com/maps?saddr=My+Location&daddr='+disp.lat+','+disp.lng+'" target="_blank">' +
                        '<p><b>Take Me There!</b></p></a>' +
                  '</div>');

              bindInfoWindow(marker, map, infoWindow, html);
          } //end for loop
          // only show div if strain is found
          if (y.style.display === "block") {
              y.style.display = "none"; }
          if (x.style.display === "none") {
              x.style.display = "block"; }
           // end if
      } //end else

  }); //end ajax

function bindInfoWindow(marker, map, infoWindow, html) {
      google.maps.event.addListener(marker, 'mouseover', function () {
          infoWindow.close();
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
      });
  }
} // end initMap
); // end event listener
</script>

<a href="/strains"><h3>Not sure?</h3></a><hr>
<div id="search-results" style="display:none">
<div id="text"></div>
<div id='map'></div>
<div id="desc" align="left"></div>
</div>
<div id="loading" style="display:none"><h4>~ Searching ~</h4></div>
<div id="no-results" style="display:none"><h4>No dispenaries near you offer this strain, sorry!</h4></div>

</div>
{% endblock %}