{% extends 'base.html' %}

{% block head %}
<script>
  $( function() {
    $( "#user_input" ).autocomplete({
      source: {{ auto_strains | tojson }},
      minLength: 2,
      delay: 0
    });
    console.log('autocomplete working')
  } );
  </script>

<!-- Google maps -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZPpl8aau3fCm9LKhwc5Yx9ugGxqddT8">
</script>
<script src="https://code.jquery.com/jquery.js"></script>
{% endblock %}

{% block navbar_current %}
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Search</a></li>
        <li><a href="/strains">Strains</a></li>
        <li><a href="/journal">Bud Journal</a></li>
      </ul>
{% endblock %}

{% block title %}Welcome to BudBud{% endblock %}

{% block content %}
<div class="container home">
<h1> Hey Bud,</h1>
<!-- on submit, initiate map -->
<form>
<h2>What strain are you looking for?</h2><br>
<!-- autocomplete widget -->
<div class="ui-widget">
<div class="form-group">
<input type="text" name="strain" id="user_input"
       placeholder="Start typing...">
<button type="button" class="btn btn-default btn-circle"
id="strain_lookup">
  <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
</button>
</div>
</form>
</div>
<!--
<a href="/strains"><h4>Not sure?</h4></a>  --><hr>
<!-- <div id="space">
</div> -->

<div class="col-sm-12" id="loading" style="display:none"><h4>~ Searching
~</h4></div>
<div class="col-sm-12" id="text"></div>
<div class="col-sm-12" id="no-results" style="display:none"><h4>No dispenaries
near you offer this strain, sorry!</h4></div>
<div class="row" id="weed-info">
<div class="col-sm-6"> <div id='map'></div> </div>
<div class="col-sm-6" id="desc-size"> <div id="desc" align="left"></div> </div>
</div>

<div class="footer">
    <hr>
        <p><a href="https://github.com/shxxu0212/BudBud">
          <strong><u>BudBud</u>: A Buddy for Your Bud! </a></strong> |
          <a href=""> Artwork: Priyanka Java</a> |
          <strong>© <a href="https://www.linkedin.com/in/shxxu/">Shirley
          Xiaolin Xu</a></strong> 2018</p>
</div>
</div>


{% endblock %}

{% block script %}
<script>
// on submit of the form:
$("#strain_lookup").click(
function initMap(evt) {
  $('#map').empty().show();
  $('#desc').empty();
  $('#text').empty();
  $('#weed-info').css('background','none');
  $('#desc-size').removeClass('col-sm-12').addClass('col-sm-6');
  $('.footer').css('position', 'absolute');

  let loadingMsg = document.getElementById("loading");
    if (loadingMsg.style.display === "none") {
        loadingMsg.style.display = "block";}
  let noResults = document.getElementById("no-results");
        noResults.style.display = "none";

  evt.preventDefault();
  console.log('the submit button is working');

  // fill in the map
  $.get('/map.json', {'strain':$('#user_input').val()},
      function(disp_json) {
          console.log('I am getting the dispensaries information for map');
          document.getElementById("text").innerHTML="<h3\
          id='insideMap'>Dispensaries near you that offer "
            + disp_json.strain + "</h3><hr>";
          document.getElementById("desc").innerHTML="<br>" + disp_json.desc
          + "<p align='right'><i>source: Leafly.com</i></p><br><br>";
      // add dark background for text
          $('#weed-info').css("background",
            "linear-gradient(rgba(20, 20, 20, 0.78), rgba(20, 20, 20, 0.5))"
            )
      // if nothing is returned, display no results
      if (disp_json.count === 0 || !disp_json.strain) {
          loadingMsg.style.display = "none";
          noResults.style.display = "block";
          $('.footer').css('position', 'static');
          $('#map').hide();
          $('#desc-size').removeClass('col-sm-6').addClass('col-sm-12').css
          ('height','100%');
      } else {
          $('.footer').css('position', 'static')
            // create map
          let sf = {lat: 37.7995971, lng: -122.377749};
          let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 11,
              center: sf,
              scrollwheel: true,
              zoomControl: true,
              panControl: false,
              streetViewControl: false,
              styles: [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#747474"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#8ad5d0"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#8ad5d0"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#8ad5d0"
            }
        ]
    },
    {
        "featureType": "landscape.natural.terrain",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#8ad5d0"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#7a7a7a"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.icon",
        "stylers": [
            {
                "hue": "#0099ff"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#8cd6d1"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dddddd"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#dcdcdc"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#686868"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dfe1ea"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#9084a8"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#a4a6d3"
            },
            {
                "visibility": "on"
            }
        ]
    }
]
            });
          $('#map').css('height', '400px');
          console.log('Hi I initiated the map')

          let infoWindow = new google.maps.InfoWindow({
            width: 120
          });
          console.log('I made the info window~')
        // hide no results, show map
          noResults.style.display = "none";
          let marker, disp, html;
          for (let key in disp_json.dispensaries) {
              disp = disp_json.dispensaries[key];

              marker = new google.maps.Marker({
                position: new google.maps.LatLng(disp.lat, disp.lng),
                map: map,
                title: disp.name,
                icon: '/static/img/bud-icon.png',
              });

              html = (
                  '<div class="window-content">' +
                        '<p><b>Dispensary: </b>' + disp.name + '</p>' +
                        '<p><b>Address: </b>' + disp.address + '</p>' +
                        '<a href="https://www.google.com/maps?saddr=My+Location&daddr='+disp.lat+','+disp.lng+'" target="_blank">' +
                        '<p><b>Take Me There!</b></p></a>' +
                  '</div>');

              bindInfoWindow(marker, map, infoWindow, html);
          } //end for loop
          // toggle loading message & results
          if (loadingMsg.style.display === "block") {
              loadingMsg.style.display = "none"; }
           // end if
      } //end else

  }); //end ajax

function bindInfoWindow(marker, map, infoWindow, html) {
      google.maps.event.addListener(marker, 'mouseover', function () {
          infoWindow.close();
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
      });
  }
} // end initMap
); // end event listener
</script>
{% endblock %}