{% extends 'base.html' %}
{% block title %}Bud Journal{% endblock %}
{% block navbar_current %}
      <ul class="nav navbar-nav">
        <li><a href="/">Search</a></li>
        <li><a href="/strains">Strains</a></li>
        <li class="active"><a href="/journal">Bud Journal</a></li>
      </ul>
{% endblock %}

{% block heading %} Chill with Your Bud (Journal) {% endblock %}
{% block content %}
<hr>
<link href="/static/css/journal.css" rel="stylesheet">

<div class="container">

<div class="row">
  <div class="col-sm-8">
    <h2 class="header"> Storytime! </h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="./static/img/smoke2.jpg" alt="Image">
          <div class="carousel-caption">
            <h3 class="header">Add your own!</h3>
            <p>Add a story in bud jorunal...</p>
          </div>
        </div>
        {% for story in stories %}
        <div class="item">
          <div class="carousel-caption">
            <h3 class="header">{{ story.user.fname }} | {{ story.strain.s_name }}</h3>
            <p>{{ story.story }}</p>
            <p> Is this dank? +{{ story.dankness }}</p>
          </div>
          <img src="./static/img/smoke1.jpg" alt="Image">
        </div>
        {% endfor %}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-sm-4" style="margin-top: 1.6em">
    <!-- Party Bud -->
    <h4 class="header">Party Bud recommends...</h4>
    <div class="well">
      <p><ul>
        <li>Some recommended strains here</li>
        <li>with URL links</li>
        <li>that go nowhere for now</li>
        <li> yup</li>
        </ul></p>
    </div>
  </div>
</div>

<!-- end modal -->
<hr>

<!-- Bud Journals Section -->
<div class="container text-center journals">
  <h3 class="header">Bud Journals</h3>
<!-- create new journal | button trigger toggle -->
<hr id="headinghr">

<button class="btn btn-success active" type="button" data-toggle="collapse"
        data-target="#newJournalform" aria-expanded="false" aria-controls="newJournalform">
  New Journal
</button>

<div class="collapse" id="newJournalform">
<form id="createJournal" action="/journal/new" method="POST">
    <div id="createJournalform">
    <label for="journal_label" style="color:white; margin-bottom:10px">
      Journal Name</label>
    <input type="text" name="journal_label" class="form-control" id="journal_label" aria-describedby="name"
           placeholder="Enter an activity you enjoy :)" required>
    <small id="name" class="form-text text-muted" style="color:lightgray">
      Organize your bud for the best time with your buds.</small>
    <br><br>
    <input type="submit" class="btn btn-success btn-sm" value="Yeaaaah buddy!">
    </div>
</form>
</div>

<!-- Autocomplete -->
<script>
$( function() {
  $( "#findStrain" ).autocomplete({
    source: {{ auto_strains | tojson }},
    minLength: 2
  });
  console.log('autocomplete working')
} );
</script>

<!-- Add to existing journal -->
<button type="button" class="btn btn-info active" id="updateJournal"
      data-toggle="collapse" data-target="#updateJournalform" aria-expanded="false" aria-controls="updateJournalform">
  Update Journal
</button>

<div class="collapse" id="updateJournalform">
<form class="form-horizontal">
  <div class="form-group">

    <label for="journal" class="col-sm-4 col-push-4 control-label">Journal:</label>
    <div class="col-sm-6">
      <select type="journal" class="form-control" name="journal"
      id="journal" required>
        {% for journal in journals %}
        <option value="{{ journal.journal_id }}">{{ journal.journal_label}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="strain" class="col-sm-4 control-label">Strain:</label>
    <div class="col-sm-5">
      <input type="strain" class="form-control" name="strain" id="findStrain"
      placeholder="Start typing..." required>
    </div>
    <div class="col-sm-1">
    <a><span class="glyphicon glyphicon-ok" id="addStrain"
             aria-expanded="false" aria-controls="addStrainform"></span></a>
    </div>
  </div>

  <div id="strainFormsGroup" hidden>
    <!-- add things here -->
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-info"
      id="submitUpdate">Submit</button>
    </div>
  </div>

  </div>
</form>
</div>


<!-- Journals -->
<div class="row panel-group" id="journalsGroup">
  <hr style="border-top: 1px dashed #8c8b8b">
{% for journal in journals %}
  <div class="col-sm-3">
    <div class="panel panel-default" id={{ journal.journal_id }}>
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#journal{{journal.journal_id}}">
            {{ journal.journal_label }}
          </a>
        </h4>
      </div>

      <div id="journal{{journal.journal_id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <ul style="list-style-type:none; padding:0em">
          {% for entry in journal.entries %}
          <li><a href='https://www.leafly.com/{{ entry.strain.leafly_url }}' target='_blank'>{{ entry.strain.s_name }}</a>,
          {{ entry.strain.s_type }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

</div>

</div>

</div>
<script src="/static/js/journal.js"></script>
<!-- Close container div -->
{% endblock %}