{% extends 'base.html' %}
{% block title %}Map{% endblock %}
{% block head %}
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZPpl8aau3fCm9LKhwc5Yx9ugGxqddT8">
  </script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/static/js/map.js"></script>
  <style>
      #map {
      height: 300px;
      width: 100%;
      }
  </style>
{% endblock %}
    {% block heading %} Here ya go, bud!{% endblock %}
{% block content %}
    <hr>
    <h3>Dispensaries that offer {{ strain }}</h3>
    <div id="map"></div>
{% endblock %}