{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{% block heading %}Fill Out Your User Profile{% endblock %}
{% block content %}
<br><br><br>
<h2>Register!</h2>
<br>
<div class="container reg-form">
<form class="col-sm-offset-4" id="reg" action="/registration" method="POST">
  <div class="form-group row">
    <label for="new_email" class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-4">
    <input type="email" name="email" class="form-control" id="new_email"
    placeholder="email@email.com" required></div>
  </div>

  <div class="form-group row">
    <label for="new_password" class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-4">
    <input type="password" name="password" class="form-control"
    id="new_password"
    placeholder="eNt3r pAssw0rD" required></div>
  </div>

  <div class="form-group row">
    <label for="fname" class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-4">
    <input type="fname" name="fname" class="form-control" id="fname"
    placeholder="Mister" required></div>
  </div>

  <div class="form-group row">
    <label for="lname" class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-4">
    <input type="lname" name="lname" class="form-control" id="lname"
    placeholder="Potato" required></div>
  </div>

  <div class="form-group row">
    <label for="zipcode" class="col-sm-2 control-label">Zipcode:</label>
    <div class="col-sm-4">
    <input type="zipcode" name="zipcode" class="form-control" id="zipcode"
    placeholder="12345"></div>
  </div>

  <div class="form-group row">
    <label for="age" class="col-sm-2 control-label">Age:</label>
    <div class="col-sm-4">
    <input type="age" name="age" class="form-control" id="age"
    placeholder="18+" required></div>
  </div>

  <div class="form-group row">
    <label for="user_type" class="col-sm-2 control-label">Usage:</label>
    <div class="col-sm-4">
      <select class="form-control" name="user_type">
         <option value="Medical">Medical</option>
         <option value="Recreational">Recreational</option>
         <option value="Both">Both</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="preference" class="col-sm-2 control-label">Preference:</label>
    <div class="col-sm-4">
      <select class="form-control" name="preferred_type" required>
         <option value="Indica">Indica</option>
         <option value="Sativa">Sativa</option>
         <option value="Hybrid">Hybrid</option>
         <option value="Nada">None</option>
     </select>
    </div>
  </div>
  <Br>
  <div class="col-sm-6">
  <button type="submit" class="btn btn-default">Join us!</button></div>

</form>
</div>

{% block script %}{% endblock %}

{% endblock %}
