{% extends 'base.html' %}
{% block title %}Strains{% endblock %}
{% block theme %}All for One and One for All!{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/css/strain-tabs.css">
<link rel="stylesheet" href="static/css/strain-modal.css">
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZPpl8aau3fCm9LKhwc5Yx9ugGxqddT8">
</script>
<script src="https://code.jquery.com/jquery.js"></script>

{% endblock %}

{% block heading %}What tickles your fancy?{% endblock %}
{% block content %}
<script>
  $(document).ready(function() {
    $( "#tabs" ).tabs();
  });
</script>

<!-- Tabs -->
<div id="tabs" class="ui-tabs-nav">
  <ul>
    <li><a href="#hybrids"><span>Hybrids</span></a></li>
    <li><a href="#indicas"><span>Indicas</span></a></li>
    <li><a href="#sativas"><span>Sativas</span></a></li>
  </ul>

    <div id="hybrids">
        <p> {% for s in hybrids %}
        <b><a href="#" class="openmodal" data-toggle="modal" data-target="#straininfo"
              data-strain={{ s.strain_id }}>
        {{ s.s_name }}</a></b><br>
        </p>
        {% endfor %}
    </div>

    <div id="indicas">
        <p> {% for s in indicas %}
        <b><a href="#" class="openmodal" data-toggle="modal" data-target="#straininfo"
              data-strain={{ s.strain_id }}>
        <div id="strain">{{ s.s_name }}</div></a></b><br>
        </p>
        {% endfor %}
    </div>

    <div id="sativas">
        <p> {% for s in sativas %}
        <b><a href="#" class="openmodal" data-toggle="modal" data-target="#straininfo"
              data-strain={{ s.strain_id }}>
        {{ s.s_name }}</a></b><br>
        </p>
        {% endfor %} </p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="straininfo" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please Wait...</h4>
        </div>
        <div class="modal-body">
          Page loading.
        </div>
        <div class="modal-map">
          <hr>
        </div>
        <div class="modal-recs">
        </div>
      </div>
  </div>
</div>
<script src="/static/js/map.js"></script>
<script src="/static/js/strains.js"></script>
{% endblock %}