{% extends 'base.html' %}
{% block title %}Strains{% endblock %}
{% block theme %}All for One and One for All!{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/css/strain-tabs.css">
<link rel="stylesheet" href="static/css/strain-modal.css">

<script>
  $(document).ready(function() {
    $( "#tabs" ).tabs();
  } );
</script>

<h1>What tickles your fancy?</h1>
<!-- Tabs -->
<div id="tabs" class="ui-tabs-nav">
  <ul>
    <li><a href="#hybrids"><span>Hybrids</span></a></li>
    <li><a href="#indicas"><span>Indicas</span></a></li>
    <li><a href="#sativas"><span>Sativas</span></a></li>
  </ul>

    <div id="hybrids">
        <p> {% for s in hybrids %}
        <b><a href="#" class="openmodal" data-toggle="modal" data-target="#straininfo"
              data-strain-id={{s.strain_id}}>
        {{ s.s_name }}</a></b>:<br>
        </p>
        {% endfor %}
    </div>

    <div id="indicas">
        <p> {% for s in indicas %}
        <p><b><a href="#" data-toggle="modal" data-target="#straininfo" class="openmodal">
        {{ s.s_name }}</a></b>:<br>
        {{ s.pos_effects }}
        </p>
        {% endfor %}
    </div>

    <div id="sativas">
            <p> {% for s in sativas %}
        <p><b><a href="#" data-toggle="modal" data-target="#straininfo" class="openmodal">
        {{ s.s_name }}</a></b>:<br>
        {{ s.pos_effects }}
        <!--     {% for effect in s.pos_effects.split(",") %}
        <li>{{ effect }}</li>
        {% endfor %} -->
        </p>
        {% endfor %} </p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="straininfo" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>
          Some text.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>

<script src="/static/js/strains.js"></script>
{% endblock %}